{% extends 'base.html' %}

{% block title %}
Mariana Mendez | Home Page
{% endblock %}

{% block page %}
<!-- /* adding link previews in messages */ -->
<meta property="og:title" content="Mariana Mendez's Home Page" />
<meta property="og:url" content="http://marianamendez.me/home" />
<meta property="og:image" content=""/>
<meta property="og:type" content="website" />

<div class="row container main">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <img style = "float:left;margin:20px 10px 20px 0px;" class="circle img-responsive materialboxed z-depth-3"
    src="https://s3-us-west-1.amazonaws.com/marianamendezsite/home_page_pic.jpg"
    alt="marianamendez" width=400 height=400 />
  </div>
  <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> -->
      <p class="flow-text"><h5><strong>Welcome!</strong></h5><br/>
        I am a passionate, committed, and enthusiastic professional dedicated to
        promoting health throughout entire communities. As a qualified nutritionist
        with 5+ years of experience providing exceptional counseling and
        developing nutritional plans for patients from a variety of ethnic and
        socioeconomic backgrounds, I am interested in bringing these skills to 
        contribute to nonprofit organizations that are focused on advocating for
        youth education and health, as well as eradicating extreme poverty and
        malnutrition among minorities and low-income populations.
      </p>
  <!-- </div> -->
</div>

{% endblock %}
